---
const title = "My Page";
---

<html>
  <body>
    <h1>{title}</h1>
    <script>
      import { z } from "zod";

      const formSchema = z.object({
        query: z.string().url(),
      });
    </script>
  </body>
</html>
